*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.7;
    color: $color-white;
}

li {
	list-style: none;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
}


section {
	padding: 6rem 20rem;
}

.main-title {
	// text-transform: uppercase;
	font-size: 8rem;
	line-height: 8.5rem;
	position: relative;
	display: inline-block;
	z-index: 2;
	font-weight: 600;
	text-align: left;

	// &::after {
	// 	content: '';
	// 	position: absolute;
	// 	left: 0;
	// 	bottom: 4pxrem;
	// 	height: 1rem;
	// 	width: 100%;
	// 	background: $color-primary;
	// 	z-index: -1;
	// }
}

.text-light {
	display: inline-block;
	position: relative;
	z-index: 2;
	font-size: 1.8rem;
	font-weight: 600;

	&::after {
		content: '';
		position: absolute;
		background: $color-primary;
		height: 100%;
		width: 100%;
		z-index: -1;
		left: 0;
		bottom: 0;
	}
}


.title {
	font-size: 3rem;
	color: $color-primary;
	font-weight: 600;
	position: relative;
	margin-bottom: 4rem;

	&::after {
		content: '';
		position: absolute;
		background: $color-primary;
		height: 5px;
		width: 5rem;
		left: 0;
		bottom: -4px;
	}
}

.subtitle {
	font-size: 2rem;
	color: $color-primary;
	font-weight: 600;
}