.footer {
	background: $color-dark;

	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	& > *:not(:last-child) {
		margin-right: 5rem;
	}

	&__info-box {
		width: 10rem;
	}
}